# Virtual environment
proctor_env/

# Python cache
__pycache__/
*.pyc

# Logs and generated data
*.csv
*.log

# OS files
.DS_Store
Thumbs.db

# Large ML models
*.caffemodel
*.dat

violations.csv
.vscode/

